<ion-nav-bar>
<img src="img/logo.png">
</ion-nav-bar>
  <ion-view view-title="Post"> 
    <ion-nav-title class="logo">
      <a ng-href="#/app/postlist"><img src="img/logo.png"></a>
  </ion-nav-title>
      <ion-nav-buttons side="right" class="icon ion-share">
      <button class="button button-clear padding" ng-click="postFilterCat()">
        <span class="button-icon  ion-android-more-vertical"></span>
      </button>
      </ion-nav-buttons>
  <ion-content on-scroll="getScrollPosition()" class="post-list-back">

  <h1 class="page-title padding">
  <span ng-if="templatePostList">Blog</span>
  <span ng-if="templateArchive">Archive</span>
  <span class="icon post-filter" ng-class="{'ion-navicon-round': postViewType, 'ion-grid': !postViewType}" ng-click="postView()" ng-show="postlists.length > 1"></span>
  </h1>
  <ion-list class="article-list flex-post" ng-class="{'flex-post-item-grid': postViewType}">
  
    <ion-item ng-repeat="post in postlists" 
              class="item-thumbnail-left flex-post--item" ui-sref="app.postdetails({postid:post.id})">
      <div>
        <div class="imgLiquidFill imgLiquid" ng-style="test(post.thumbnail)">
        </div>
        <div class="caption padding">
          <div class="post-meta">
            <img ng-src="{{post.author.avatar}}" alt="">
            <div class="auth-details">
              <h3><span class="icon ion-person"></span>{{post.author.name}}</h3>
              <h3><span class="icon ion-calendar"></span>{{post.date | amDateFormat:'Do MMMM YYYY'}}</h3>
            </div>
          </div>
          <h2 ng-bind-html="post.title"></h2>
          <p ng-bind-html="post.excerpt"></p>
        </div> 
      </div> 
    </ion-item>
  </ion-list>
    
   <ion-infinite-scroll ng-if='morePosts'
    on-infinite="loadMore()"
    distance="10%">
  </ion-infinite-scroll>

  </ion-content>
<button class="button go-to-top" ng-click="scrollTop()" ng-show="data.gotoTopButton"><span class="icon ion-arrow-up-b"></span></button>
  
</ion-view>
