<ion-view view-title="{{post.title}}">
  <ion-view view-title="Post"> 
    <ion-nav-title class="logo">
        <a ui-sref="app.postlist"><img src="img/logo.png"></a>
    </ion-nav-title>  
    <ion-nav-buttons side="right" class="icon ion-share">
      <button class="button button-icon button-clear ion-android-share-alt" ng-click="sharePost()">
      </button>
    </ion-nav-buttons>

    <div class="post-share ng-hide" ng-show="showShare"> 
      <div class="tabs tabs-icon-top">
        <a class="tab-item fb" ng-click="share('fb')">
          <i class="icon ion-social-facebook"></i>
          Facebook
        </a>
        <a class="tab-item twitter" ng-click="share('tw')">
          <i class="icon ion-social-twitter"></i>
          Twitter
        </a>
        <a class="tab-item wtsapp" ng-click="shareViaWhatsApp()">
          <i class="icon ion-social-whatsapp"></i>
          WhatsApp
        </a>
      </div>
      <div class="tabs tabs-icon-top">
        <a class="tab-item gplus" ng-click="share('gp')">
          <i class="icon ion-social-googleplus"></i>
          Google Plus
        </a>        
        <a class="tab-item pint" ng-click="share('pt')">
          <i class="icon ion-social-pinterest-outline"></i>
          Pinterest
        </a>
        <a class="tab-item more" ng-click="shareViaAll()">
          <i class="icon ion-more"></i>
          Others
        </a>
      </div>
    </div>


    <ion-content on-drag-left="onDragLeft()" ng-click="hidesharePost()">
      <div class="featured-image" ng-if="postDetails.thumbnail && !postDetails.custom_fields.postVideoyoutube_video_id[0]">
        <img ng-src="{{postDetails.thumbnail}}" alt="">
      </div>

      <div class="videogular-container-audio" id="equalizer" ng-if="postDetails.custom_fields.postAudioaudioUrl[0]">
        <videogular  class="videogular-container audio">
          <vg-media vg-src="audio.sources" vg-type="audio" vg-clear-media-on-navigate="true"></vg-media>

          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | duration }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar> 
            <vg-time-display>{{ timeLeft | duration}}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
            </vg-volume>
          </vg-controls>
        </videogular>
      </div> 

      <iframe class="video-embed" width="560" height="315" ng-if="videoURL" ng-src="{{videoURL}}" frameborder="0" allowfullscreen></iframe>
      <div class="post-header">
        <h1 class="page-title padding">{{postDetails.title}}</h1>   
        <div class="post-meta">
          <div>
            <span class="meta">
             <span class="icon ion-calendar"></span> {{postDetails.date | amDateFormat:'Do MMMM YYYY'}}
            </span>
            <span class="meta">
             <span class="icon ion-person"></span> <a href="#/app/author/{{postDetails.author.id}}">{{postDetails.author.name}}</a>
            </span>
          </div>
          <div>
            <span class="meta meta-categories" ng-if="postDetails.categories.length">
            <span class="icon ion-folder"></span> Categories : 
            <a ng-repeat="cat in postDetails.categories" href="#/app/categories/{{cat.id}}">{{cat.title}}</a>
            </span>
          </div>
          
        </div>   
      </div>

      <div ng-bind-html="content" class="post-content padding-bottom padding"></div> 
  </ion-content>
 
</ion-view>
