<ion-view hide-nav-bar="true" class="ion-walkthrough">
  <ion-content>
  	<div class="walkthrough-wrap">
    	<div  class="walkthrough-title-slider">
    		<h1 class="walkthrough-title" ng-bind-html="slideDetails[slide.current].title"></h1>
    	</div>

    	<div class="mobile-frame">
    		<ion-slide-box
    			on-slide-changed = "slide.slideChanged(index)"
    			class = "screen-slider"
    			pager-click = "slide.pagerClick(index)"
    			delegate-handle = "slide-handle">
    			<ion-slide ng-repeat = "slider in slideDetails">
    				<img ng-src = "{{slider.image}}">
    			</ion-slide>
    		</ion-slide-box>
    	</div>

    	<div class="walkthrough-button">
    		<button class="button button-walkthrough" ng-click="wkButton()">
    			{{slideDetails[slide.current].buttonText}}
    		</button>
    	</div>C,O,D,E,L,I,S,T,.,C,C
  	</div>
  </ion-content>
</ion-view>
