.videogular-container {
	width: 100%;
	height: 320px;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}

	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}

	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}

	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}
.videogular-container.audio {
	height: 50px;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}

	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}

	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}

	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}
.video-embed {	
	margin:0 auto;
	display: block;
	width: 100%;
	min-height: 300px;
	iframe {
		width: 100%;
		min-height: 300px;
	}
}
videogular vg-scrub-bar [role=slider], [videogular] vg-scrub-bar [role=slider] {
	background: #ccc;
}

/*------------ VIDEO/AUDIO PLAYER ------------*/
videogular vg-play-pause-button {
	background-color: #d57c8e;
}
videogular vg-scrub-bar [role=slider] {
	height: 8px;
	margin: 20px 0px;
	background-color: rgba(170, 170, 170, 0.5);
	border-radius: 4px;
}
videogular vg-scrub-bar-current-time {
	background-color: #62c6c7;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
		top: -6px;
		right: -10px;
	}
}
videogular vg-volume {
	background-color: #62c6c7;
}
videogular vg-controls {
	top: 0;
}
@media screen and (min-width:480px) {
	videogular vg-controls .controls-container {
		padding: 20px;
	}
	.videogular-container.audio {
		height: 90px;
	}
}