$loading-bg-color: #fff;
$loading-text-color: #000;
$positive:                        #3498db;
// Platform
// -------------------------------

$ios-statusbar-height: 20px !default;
$ionicons-font-path: "../lib/ionic/fonts" !default;