// THEME 1
$theme-color-1:#0074D9;
$theme-color-2: #F5A236;
$theme-color-3: #444444;

// THEME 2
// $theme-color-1: #9F3BA2;
// $theme-color-2: #FEAF40;
// $theme-color-3: #666666;

// THEME 3
// $theme-color-1: #5457BC;
// $theme-color-2: #42BB84;
// $theme-color-3: #135686;

// THEME 4
// $theme-color-1: #39C157;
// $theme-color-2: #FF5D4C;
// $theme-color-3: #444444;
